@model Odjeca.Models.ViewModels.StoreViewModel

<div class="backgroundWhite container-fluid col-12">
    @* Category filter *@
    <h6>Filter</h6>
    <ul id="item-filter" class="nav col-md-2 col-12 row float-left">
        <li class="nav-link w-75 mr-1" data-filter=".items-store">Show All</li>
        @foreach (var item in Model.Category)
        {
            <li class="nav-link w-75 mr-1" data-filter=".@item.Name.Replace(" ", string.Empty)">@item.Name</li>
        }
    </ul>

    @* Group each category with it's items*@
    <div class="col-md-9 container row col-12">
        @foreach (var category in Model.Category)
        {
            <div class="col-md-12 row" id="menu-wrapper">
                <partial name="_ThumbnailAreaPartial" model="@Model.StoreItem.Where(u=>u.Category.Name.Equals(category.Name))" />
            </div>
        }
    </div>
</div>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>

    <script>

        var posts = $('.post');

        (function ($) {

            $("#item-filter li").click(function () {
                $("#item-filter li").removeClass('active');
                $(this).addClass('active');

                var selectedFilter = $(this).data("filter");

                $(".items-store").fadeOut();

                setTimeout(function () {
                    $(selectedFilter).slideDown();
                }, 300);
            });



        })(jQuery);

    </script>
} 