@model Odjeca.Models.ViewModels.StoreViewModel

<div class="backgroundWhite container-fluid mt-3 mb-3">
    <h2 class="mt-3">Store</h2>
    <br />
    @* Category filter *@
    <div class="row">
        <div id="item-filter" class="col-md-2 col-12">
            <h5 class="mt-2 offset-3">Filter</h5>
            <br />
            <div class="border-0" data-toggle="collapse">
                <a class="btn d-flex offset-2" data-filter=".items-store">Show All</a>
            </div>
            @foreach (var item in Model.Category)
            {
                <div class="border-top" data-toggle="collapse" data-target="#@item.Name">
                    <a class="btn d-flex offset-2" data-filter=".@item.Name.Replace(" ", string.Empty)">@item.Name</a>
                </div>

                var subCat = Model.SubCategory.Where(si => si.CategoryId == item.Id);

                <div id="@item.Name" class="collapse" data-parent="#item-filter">
                    @foreach (var subItem in subCat)
                    {
                        <a class="btn d-flex offset-3" data-filter=".@subItem.Name.Replace(" ", string.Empty)">@subItem.Name</a>
                    }
                </div>
            }
        </div>

        @* Group each category with it's items*@
        <div class="col-md-10 col-12 border border-info pb-3">
            @foreach (var category in Model.SubCategory)
            {
                <div class="col-md-12 row" id="menu-wrapper">
                    <partial name="_ThumbnailAreaPartial" model="@Model.StoreItem.Where(u=>u.SubCategory.Name.Equals(category.Name))" />
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
    </script>

    <script>

        var posts = $('.post');

        (function ($) {

            $("#item-filter a").click(function () {
                $("#item-filter a").removeClass('active');
                $(this).addClass('active');

                var selectedFilter = $(this).data("filter");

                $(".items-store").fadeOut();

                setTimeout(function () {
                    $(selectedFilter).fadeIn();
                }, 300);
            });

        })(jQuery);

    </script>
} 