@model Odjeca.Models.Brands

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3 backgroundWhite rounded">
    <br />
    <h2>Brands Edit</h2>
    <hr />
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div class=" row form-group">
            <div class="col-12 col-sm-5 offset-2">
                @{
                    var base64 = Convert.ToBase64String(Model.Image);
                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                }
                <img src="@imgsrc" class="img-thumbnail" />
            </div>
            <div class="col-12 pt-4">
                <input hidden asp-for="Id" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Image" class="custom-label"></label>
                    </div>
                    <div class="col-5">
                        <input type="file" id="projectImage" name="files" multiple class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Name" class="control-label"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Description" class="control-label"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="Description" class="form-control" />
                    </div>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-5 offset-2">
                        <partial name="_EditAndBackButton" model="Model.Id" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>