<div class="col-4 d-flex justify-content-center">
    <h6>Customer care</h6>
</div>
<div class="col-4 d-flex justify-content-center">
    <h6>Legal</h6>
</div>
<div class="col-4 d-flex justify-content-center">
    <h6>Corporate</h6>
</div>