@using Odjeca.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<header>
    <nav class="navbar fixed-top navbar-expand-md navbar-toggleable-md navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container d-flex align-items-center">
            <div class="navbar-brand">
                <a asp-area="Customer" asp-controller="Home" asp-action="Index">
                    <img class="img-fluid" src="~/images/logo.png" />
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="navbar-collapse collapse d-md-inline-flex flex-md-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="Customer" asp-controller="Home" asp-action="Index">
                            Home
                        </a>
                    </li>
                    @if (!User.IsInRole(SD.ManagerUser) && !User.IsInRole(SD.FrontDeskUser) && !User.IsInRole(SD.StorageUser))
                    {
                        <partial name="_NavigationLinksCustomer" />
                    }
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="Customer" asp-controller="Store" asp-action="Index">
                            Store
                        </a>
                    </li>

                    @if (User.IsInRole(SD.ManagerUser) || User.IsInRole(SD.StorageUser) || User.IsInRole(SD.FrontDeskUser) || User.IsInRole(SD.CustomerEndUser))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="Customer" asp-controller="Order" asp-action="OrderHistory">
                                Order History
                            </a>
                        </li>
                    }

                    @if (User.IsInRole(SD.StorageUser) || User.IsInRole(SD.FrontDeskUser))
                    {
                        <partial name="_navigationlinksEmployee" />
                    }

                    @if (User.IsInRole(SD.ManagerUser))
                    {
                        <partial name="_navigationlinksManager" />
                    }

                    @if (HttpContextAccessor.HttpContext.Session.GetInt32(@SD.ssShoppingCartCount) != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="Customer" asp-controller="Cart" asp-action="Index">
                                @{ var count = HttpContextAccessor.HttpContext.Session.GetInt32(@SD.ssShoppingCartCount); }
                                <i class="fas fa-shopping-cart"></i>&nbsp; (@count)
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a href="#" class="nav-link text-light">
                                <i class="fas fa-shopping-cart"></i>&nbsp; (0)
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </nav>
</header>