@using Odjeca.Utility

<li class="nav-item dropdown text-white-50">
    <a class="nav-link dropdown-toggle text-light" href"#" id="navbarDropDown" role="button" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        Order Management
    </a>
    <div class="dropdown-menu bg-dark manage-dropdown" aria-labelledby="navbarDropDownMenuLink">
        @if (User.IsInRole(SD.StorageUser) || User.IsInRole(SD.ManagerUser))
        {
            <a class="dropdown-item" asp-action="ManageOrder" asp-controller="Order" asp-area="Customer">Manage Order</a>
        }
        @if (User.IsInRole(SD.FrontDeskUser) || User.IsInRole(SD.ManagerUser))
        {
            <a class="dropdown-item" asp-action="OrderPickup" asp-controller="Order" asp-area="Customer">Order Pickup</a>
        }
    </div>
</li>