<li class="nav-item">
    <a class="nav-link text-light" asp-area="Customer" asp-controller="Home" asp-action="About">
        About Us
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-light" asp-area="Customer" asp-controller="Home" asp-action="Brands">
        Brands
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-light" asp-area="Customer" asp-controller="Home" asp-action="Faq">
        FAQ
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-light" asp-area="Customer" asp-controller="Home" asp-action="Contact">
        Contact
    </a>
</li>