<section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
    <div class="container backgroundWhite mt-4 mb-4">

        <h2>Frequently Asked Questions </h2>
        <hr />
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                    <h3 class="card-title">
                        <a class="collapsed text-decoration-none" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                            First frequently asked question
                        </a>
                    </h3>
                </div>
                <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                    <div class="panel-body px-3 mb-4">
                        <p>With Solodev CMS, you and your visitors will benefit from a finely-tuned technology stack that drives the highest levels of site performance, speed and engagement - and contributes more to your bottom line. Our users fell in love with:</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                    <h3 class="panel-title">
                        <a class="collapsed text-decoration-none" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                            Second frequently asked question
                        </a>
                    </h3>
                </div>
                <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                    <div class="panel-body px-3 mb-4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus purus. Sed magna erat, tincidunt non metus porttitor, faucibus tincidunt magna. Nullam ut aliquet tortor, non tristique tortor. Aenean facilisis eleifend urna, ac dictum tellus sodales nec. Aenean non sodales metus, vel bibendum felis. Praesent accumsan in ipsum eu pharetra. Quisque eu dolor auctor, condimentum diam at, pharetra ipsum. Aliquam non ipsum vel mauris elementum faucibus. Nunc velit ex, ultrices a auctor nec, congue sit amet velit. Donec fringilla nec neque sit amet euismod. Mauris ultrices, mauris eget porttitor hendrerit, nisi dui vestibulum justo, id vehicula ex eros lobortis tortor. Quisque consequat magna non volutpat feugiat. Nulla sit amet turpis lacus. </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                    <h3 class="panel-title">
                        <a class="collapsed text-decoration-none" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                            Third frequently asked question
                        </a>
                    </h3>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                    <div class="panel-body px-3 mb-4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus purus. Sed magna erat, tincidunt non metus porttitor, faucibus tincidunt magna. Nullam ut aliquet tortor, non tristique tortor. Aenean facilisis eleifend urna, ac dictum tellus sodales nec. Aenean non sodales metus, vel bibendum felis. Praesent accumsan in ipsum eu pharetra. Quisque eu dolor auctor, condimentum diam at, pharetra ipsum. Aliquam non ipsum vel mauris elementum faucibus. Nunc velit ex, ultrices a auctor nec, congue sit amet velit. Donec fringilla nec neque sit amet euismod. Mauris ultrices, mauris eget porttitor hendrerit, nisi dui vestibulum justo, id vehicula ex eros lobortis tortor. Quisque consequat magna non volutpat feugiat. Nulla sit amet turpis lacus. </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                    <h3 class="panel-title">
                        <a class="collapsed text-decoration-none" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                            Fourth frequently asked question
                        </a>
                    </h3>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                    <div class="panel-body px-3 mb-4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus purus. Sed magna erat, tincidunt non metus porttitor, faucibus tincidunt magna. Nullam ut aliquet tortor, non tristique tortor. Aenean facilisis eleifend urna, ac dictum tellus sodales nec. Aenean non sodales metus, vel bibendum felis. Praesent accumsan in ipsum eu pharetra. Quisque eu dolor auctor, condimentum diam at, pharetra ipsum. Aliquam non ipsum vel mauris elementum faucibus. Nunc velit ex, ultrices a auctor nec, congue sit amet velit. Donec fringilla nec neque sit amet euismod. Mauris ultrices, mauris eget porttitor hendrerit, nisi dui vestibulum justo, id vehicula ex eros lobortis tortor. Quisque consequat magna non volutpat feugiat. Nulla sit amet turpis lacus. </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>